<app-sidenav>
  <div class="container">
    <div class="row">
      <div class="col-md-5 col-sm-12">
        <div class="row">
          <div class="col">
              <p style="font-size:1.2rem">Enter details</p>      
          </div>
        </div>    
        <form [formGroup]="fileUploadForm" (ngSubmit)="submit(fileUploadForm.value)">
          <div class="row">
            <div class="col">      
          <mat-form-field>
            <input matInput type="text" formControlName='description' placeholder="Enter description">
          </mat-form-field>
           </div>
          </div> 
          <div class="row">
            <div class="col">      
          <mat-form-field>
            <input matInput type="text" formControlName='customField' placeholder="Enter custom field">
          </mat-form-field>
        </div>
      </div> 
      <div class="row">
        <div class="col">      
          <mat-form-field>
            <input matInput type="datetime-local" formControlName='documentDate' placeholder="Enter document date">
          </mat-form-field>
        </div>
      </div> 
      <div class="row">
        <div class="col">      
          <mat-form-field>
            <input matInput type="datetime-local" formControlName='alertDate' placeholder="Enter alert date">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
          <div class="col-md-6 col-sm-12">   
                <button type="button"  (click)="addFile()" mat-raised-button>Choose File</button>
          </div>
          <div class="col-md-6 col-sm-12">   
              <button type="button"  (click)="hideCategories=!hideCategories" mat-raised-button>Show/hide categories</button>
          </div>
      </div>
      <div class="row" [hidden]="fileList.length==0">
        <div class="col">
            <div class="row" style="height:1.5rem;">
                <div class="col">   
      
                </div>
            </div>      
          <div class="row">
              <div class="col">   
                <p style="font-size:1rem;">Selected file:  {{fileList[0]?.name}}</p>  
              </div>
          </div>
        </div>
      </div>
      <div class="row" style="height:1.5rem;">
          <div class="col">   

          </div>
      </div>      
      <div class="row" style="height:1.5rem;">
          <div class="col">   
              <button type="submit" [disabled]="fileList.length==0" class="btn btn-block"  mat-raised-button>Submit</button>
          </div>
      </div>      
      </form>
      </div>
      <div class="col-md-7 col-sm-12">
        <div class="row" style="height:1.5rem;">
              <div class="col">
              </div>  
        </div>
        <div class="row" [hidden]="hideCategories">
          <div class="col">
          <p style="font-size:1.2rem">Categories</p>
          <app-search-category-component (categorySelected)="selectedCategory($event)" ></app-search-category-component>
          </div>  
        </div>  
      </div>
    </div>
  </div>
</app-sidenav>