<table mat-table [dataSource]="dataSource">
<ng-container matColumnDef="filename">
  <th mat-header-cell *matHeaderCellDef>Filename</th>
  <td mat-cell *matCellDef="let element" (click)="displayFile(element)">{{element.file_name}}</td>
</ng-container>
<ng-container matColumnDef="category">
  <th mat-header-cell *matHeaderCellDef>Category</th>
  <td mat-cell *matCellDef="let element" (click)="clicked(element)">{{element.cat_name}}</td>
</ng-container>
<ng-container matColumnDef="description">
  <th mat-header-cell *matHeaderCellDef>Description</th>
  <td mat-cell *matCellDef="let element" (click)="clicked(element)">{{element.description}}</td>
</ng-container>
<ng-container matColumnDef="customField">
  <th mat-header-cell *matHeaderCellDef>Custom Field</th>
  <td mat-cell *matCellDef="let element" (click)="clicked(element)">{{element.custom_tag}}</td>
</ng-container>
<ng-container matColumnDef="alertDate">
  <th mat-header-cell *matHeaderCellDef>Alert Date</th>
  <td mat-cell *matCellDef="let element" (click)="clicked(element)">{{element.alert_date | date}}</td>
</ng-container>
<ng-container matColumnDef="byDate">
  <th mat-header-cell *matHeaderCellDef>By Date</th>
  <td mat-cell *matCellDef="let element" (click)="clicked(element)">{{element.full_name}} , {{element.up_date | date}}</td>
</ng-container>
<ng-container matColumnDef="docDate">
  <th mat-header-cell *matHeaderCellDef>Doc Date</th>
  <td mat-cell *matCellDef="let element" (click)="clicked(element)">{{element.doc_date | date}}</td>
</ng-container>
<ng-container matColumnDef="Actions">
  <th mat-header-cell *matHeaderCellDef></th>
  <td mat-cell *matCellDef="let element" [hidden]="element.parent_id!=null"  (click)="callActions(element)"><mat-icon>touch_app</mat-icon></td>
</ng-container>
<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
<tr mat-row *matRowDef="let row; columns: displayedColumns;" style="cursor:pointer;" ></tr>
</table>
<mat-paginator [pageSizeOptions]="[5, 10]" showFirstLastButtons></mat-paginator>
<mat-progress-bar [hidden]="!loading" mode="query" [hidden]=""></mat-progress-bar>

