<app-sidenav>
  <div  class="row" style="margin:-24px 0px 0px 0px;">
    <div [hidden]="pathDetails.filename=='' && pathDetails.path==''" class="col" style="color:white;background-image: linear-gradient(to right, #121821, #1b272c, #2b3635, #3e4441, #52534f);">
      <p style="font-size:1rem;padding:2% 0% 0% 0%;">{{pathDetails.path}} <span *ngIf="pathDetails.path!=''"> > </span> <u> {{pathDetails.filename}}</u></p>
    </div>
  </div>
  <div class="row" style="overflow-x: scroll;">
    <div class="col" style="padding:0px;">
      <app-results-table [categoryId]="categoryId"></app-results-table>
    </div>
  </div>
  <div class="row">
    <div class="col" style="height:1.5rem;">

    </div>
  </div>
  <div class="row">
    <div class="offset-md-2 col-md-4 col-sm-12">
      <button type="submit" class="btn btn-block" (click)="downloadZip()"  mat-raised-button>Download zip</button>
      <mat-progress-bar [hidden]="!loadingzip" mode="buffer" [hidden]=""></mat-progress-bar>
    </div>  
    <div class="col-md-4 col-sm-12">
      <button type="submit" class="btn btn-block" (click)="downloadReport()" mat-raised-button>Download report</button>
      <mat-progress-bar [hidden]="!loading" mode="buffer" [hidden]=""></mat-progress-bar>
    </div>  
  </div>
</app-sidenav>