<table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="version_number">
        <th mat-header-cell *matHeaderCellDef>Version Number</th>
        <td mat-cell *matCellDef="let element">{{element.version_number}}</td>
    </ng-container>
    <ng-container matColumnDef="uploadByDate">
        <th mat-header-cell *matHeaderCellDef>Uploaded by,Date</th>
        <td mat-cell *matCellDef="let element">{{element.uploaded_name}},{{element.up_date|date}}</td>
    </ng-container>
    <ng-container matColumnDef="check_in_remarks">
        <th mat-header-cell *matHeaderCellDef>Remarks</th>
        <td mat-cell *matCellDef="let element">{{element.check_in_remarks}}</td>
    </ng-container>
    <ng-container matColumnDef="version_file_name">
        <th mat-header-cell *matHeaderCellDef>Filename</th>
        <td mat-cell *matCellDef="let element">{{element.version_file_name}}</td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" style="cursor:pointer;" (click)="clicked(row)"></tr>
</table>
<mat-paginator [pageSizeOptions]="[2,5]" showFirstLastButtons></mat-paginator>
