<div class="container h-100 ">
<div class="h-100 row align-items-center justify-content-center">
<div class="col-6">
<div class="jumbotron">
    <div class="widthClass">
        <div class="row ">
            <div class="col text-center"><mat-icon>account_circle</mat-icon></div>
        </div>
        <div class="row">
            <div class="col" style="height:2rem;"></div>
        </div>
        <div class="row ">
                <div class="col text-center">
                    <mat-form-field>
                    <input matInput placeholder="Enter your email address " [formControl]="emailFormControl">  </mat-form-field>
                    <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">Enter a valid email Id </mat-error>
                </div>
        </div>
        <div class="row ">
                <div class="col text-center">
                        <mat-form-field>
                        <input type="password" matInput placeholder="Enter your password" [formControl]="passwordFormControl">  </mat-form-field>
                        <mat-error *ngIf="passwordFormControl.hasError('password') && !passwordFormControl.hasError('required')">Enter a valid password</mat-error>
                    </div>
        </div>
        <div class="row ">
                <div class="col text-center">
                <p *ngIf="this.err" style="color:red;">Invalid email or password</p>
                <button [disabled]="loading || !emailFormControl.valid || !passwordFormControl.valid " (click)="onSubmit()" mat-raised-button>Submit</button>
                </div>
        </div>        
    </div>
</div>
</div>
</div>