<table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="file_name">
        <th mat-header-cell *matHeaderCellDef>Filename</th>
        <td mat-cell *matCellDef="let element">{{element.metadata_file}}</td>
    </ng-container>
    <ng-container matColumnDef="imported">
        <th mat-header-cell *matHeaderCellDef>Imported</th>
        <td mat-cell *matCellDef="let element">{{element.read==false?'No':'Yes'}}</td>
    </ng-container>
    <ng-container matColumnDef="uploadedBy">
        <th mat-header-cell *matHeaderCellDef>Uploaded,By</th>
        <td mat-cell *matCellDef="let element">{{element.fullname}},{{element.up_date}} </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" style="cursor:pointer;" (click)="clicked(row)"></tr>
</table>
<mat-paginator [pageSizeOptions]="[5,10]" showFirstLastButtons></mat-paginator>
