<table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef>Description</th>
        <td mat-cell *matCellDef="let element">{{element.description}}</td>
    </ng-container>
    <ng-container matColumnDef="uploadByDate">
        <th mat-header-cell *matHeaderCellDef>Uploaded by, Date</th>
        <td mat-cell *matCellDef="let element">{{element.upload_by}} , {{element.up_date|date}}</td>
    </ng-container>
    <ng-container matColumnDef="file_name">
        <th mat-header-cell *matHeaderCellDef>Filename</th>
        <td mat-cell *matCellDef="let element">{{element.file_name}}</td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" style="cursor:pointer;" (click)="clicked(row)"></tr>
</table>
<mat-paginator [pageSizeOptions]="[2,5]" showFirstLastButtons></mat-paginator>
