iframe{
    width:100%;
    height: 100%;
    border: 0px;
}
.container-fluid{
    background-color: white;
    height: 100%;
}
.jumbotron{
    padding-bottom: 0px;
    margin-bottom: 0px;
}
#container {
    width: 100%;
    height: 100%;
    position: relative;
  }
  #navi,
  #infoi {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
  #navi {
    z-index: 1000;
  }