<div id="container">
<div id="navi">

</div>  
<div id="infoi" class="jumbotron">
  <div class="container-fluid">
    <iframe width="100%" [src]="htmlData | domSanitizer"></iframe>
  </div>
</div>
</div>