<table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="up_date">
        <th mat-header-cell *matHeaderCellDef>Update By Date</th>
        <td mat-cell *matCellDef="let element">{{element.up_date | date}}</td>
    </ng-container>
    <ng-container matColumnDef="remarks">
        <th mat-header-cell *matHeaderCellDef>Remarks</th>
        <td mat-cell *matCellDef="let element">{{element.remarks}}</td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" style="cursor:pointer;" (click)="clicked(row)"></tr>
</table>
<mat-paginator [pageSizeOptions]="[2,5]" showFirstLastButtons></mat-paginator>
