<app-sidenav>
  <div class="container">
  <div class="row">
    <div class="col-md-12">
      <p style="font-size: 1.5rem;">Edit</p>
    </div>
  </div>
  <div class="row">
      <div class="col-md-5 col-sm-12">
        <form [formGroup]="editFormGroup"  (ngSubmit)="onSubmit(editFormGroup.value)">
          <div class="row">  
            <div class="col">
              <mat-form-field >
                <input matInput type="datetime-local"  placeholder="Doc date" formControlName="docDate">
              </mat-form-field>  
            </div>         
          </div>
          <div class="row">  
              <div class="col">
                  <mat-form-field >
                      <input matInput (input)="editFormGroup.controls.category.setValue('Application')" (click)="displayCategory=false;"  placeholder="Category" formControlName="category">
                    </mat-form-field>  
              </div>         
          </div>
          <div class="row">  
              <div class="col">
                  <mat-form-field >
                      <input matInput placeholder="Description" formControlName="description">
                    </mat-form-field>  
              </div>         
          </div>
          <div class="row">  
              <div class="col">
                  <mat-form-field >
                      <input matInput placeholder="Custom Field" formControlName="customField">
                    </mat-form-field>  
              </div>         
          </div>
          <div class="row">  
              <div class="col">
                  <mat-form-field >
                      <input matInput placeholder="By, Date" formControlName="byDate">
                    </mat-form-field>  
              </div>         
          </div>
          <div class="row">  
              <div class="col">
                  <mat-form-field >
                      <input type="datetime-local" matInput placeholder="Alert Date" formControlName="alertDate">
                    </mat-form-field>  
              </div>         
          </div>
          <div class="row">  
              <div class="col">
                  <mat-form-field >
                      <input matInput placeholder="Filename" formControlName="filename">
                    </mat-form-field>  
              </div>         
          </div>
          <div class="row">  
            <div class="col-md-3 col-sm-12">
                    <button class="btn btn-block" type="submit"  [disabled]="!editFormGroup.valid"  mat-raised-button>Submit</button>
            </div>        
            <div class="col-md-3 col-sm-12">
                <button class="btn btn-block" (click)="location.back()" type="button"  mat-raised-button >Cancel</button>
            </div>         
    </div>

    </form>
      </div>
      <div class="col-md-7 col-sm-12" [hidden]="displayCategory">
        <p style="font-size:1.2rem">Categories</p>
        <app-search-category-component (categorySelected)="selectedCategory($event)"></app-search-category-component>
        </div>  
    </div>
</div>
</app-sidenav>