<p>Selected category :{{selectedCategory.name}}</p>
<mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
  <mat-tree-node   *matTreeNodeDef="let node" matTreeNodeToggle matTreeNodePadding>
    <button mat-icon-button disabled></button>
    <button (click)="selectCategory(node)" class="btn btn-link" [ngClass]="node.filename.indexOf(selectedCategory.name)!=-1?'selected':''" >{{node.filename | categoryDisplayPipe}}</button> 
  </mat-tree-node>
  <mat-tree-node  *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
    <button mat-icon-button matTreeNodeToggle
            [attr.aria-label]="'toggle ' + node.filename">
      <mat-icon class="mat-icon-rtl-mirror">
        {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
      </mat-icon>
    </button>
    <button (click)="selectCategory(node)" class="btn btn-link" [ngClass]="node.filename.indexOf(selectedCategory.name)!=-1?'selected':''" >{{node.filename | categoryDisplayPipe}}</button>
  </mat-tree-node>
</mat-tree>
