<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    (opened)="navOpen=true"
    (closed)="navOpen=false"
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)">
    <mat-toolbar color="primary"><span *ngIf="navOpen">Yukthi Systems</span></mat-toolbar>
    <mat-card style="padding: 10% 10% 10% 15%;margin: 5% 5% 5% 5%;">
      <mat-card-content><h1>Yukthi</h1></mat-card-content>
    </mat-card>
    <mat-nav-list>
      <a mat-list-item href="#" routerLink="/search"><mat-icon>dns</mat-icon>&nbsp;DMS</a>
      <a mat-list-item href="#" routerLink="/fileUpload"><mat-icon>description</mat-icon>&nbsp;Upload Doc</a>
      <a mat-list-item href="#" routerLink="/bulkUpload"><mat-icon>file_copy</mat-icon>&nbsp;Bulk Upload</a>
      <a mat-list-item (click)="logout()"><mat-icon>account_circle</mat-icon>&nbsp;Logout</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar style="z-index:1000;" color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span *ngIf="!navOpen">Yukthi Systems</span>
    </mat-toolbar>
    <br />
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
