<app-sidenav>
    <div class="container">
    <div class="row">
        <div class="col-md-6 col-sm-12" >
                <div class="row">
                        <div class="col-sm-12">
                            <p style="font-size: 2rem;">Categories</p>
                        </div>
                    </div>
            <div class="row">
                    <div class="col-sm-12">
                        <p style="font-size: 1.5rem;">Select a category</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12" >
                            <app-search-category-component (categorySelected)="selectedCategory($event)"></app-search-category-component>
                    </div>
                </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="jumbotron"> 
                <p style="font-size: 1.5rem;">Enter search details</p>
                <form [formGroup]="searchForm" (ngSubmit)="onSubmit(searchForm.value,false)">
                    <mat-form-field>
                        <input  matInput placeholder="Description" formControlName="description">                    
                    </mat-form-field>
                  <!--  <mat-error *ngIf="searchForm.controls.description.hasError('minlength') && !searchForm.controls.description.hasError('required')">Enter a valid description</mat-error>-->
                    <mat-form-field>
                        <input type="datetime-local" matInput placeholder="Date" formControlName="date">                    
                    </mat-form-field>
                    <mat-form-field>
                        <mat-select [(value)]="selected">
                          <mat-option value="lt_doc_date">Greater than doc date</mat-option>
                          <mat-option value="gt_doc_date">Lesser than doc date</mat-option>
                          <mat-option value="eq_doc_date">Equal to doc date</mat-option>
                        </mat-select>
                      </mat-form-field>
<!--                    <mat-error *ngIf="searchForm.controls.date.hasError('invalidDate') && !searchForm.controls.date.hasError('required')">Search date cannot be greater than present date</mat-error>-->
<!--                    <mat-error *ngIf="searchForm.controls.date.hasError('invalidDate')" >Search date cannot be greater than present date</mat-error>-->
                    <mat-form-field>
                        <input  matInput placeholder="Custom field" formControlName="customField">                    
                    </mat-form-field>
                    <mat-error *ngIf="searchForm.controls.description.hasError('minlength') && !searchForm.controls.description.hasError('required')">Enter a valid custom field</mat-error>
                    <button type="submit" class="btn btn-block" [disabled]="!searchForm.valid"  mat-raised-button>Search</button>
                    <button type="button" class="btn btn-block" [disabled]="!searchForm.valid" (click)="onSubmit(searchForm.value,true)"  mat-raised-button>Search with sub categories</button>
                </form>
            </div>
        </div>        
    </div>
</div>
</app-sidenav>
