<app-sidenav>
  <div class="container">
    <div class="row">
      <div class="col">
        <p style="font-size:1.5rem;">Bulk upload using a spread sheet in the specified format:</p>
      </div>
    </div>
    <div class="row">
        <div class="col">
            <button type="submit" (click)="addFile()"  mat-raised-button>Choose File</button>
        </div>
    </div>
    <div class="row" style="height:1.5rem;">
        <div class="col">
       </div>
    </div>
    <div *ngIf="fileList.length!=0" class="row" style="height:1.5rem;">
        <div class="col">
          <p style="font-size:1rem;">Selected file: {{fileList[0].name}}</p>
        </div>
    </div>
    <div *ngIf="fileList.length!=0" class="row" style="height:1.5rem;">
        <div class="col">
       </div>
    </div>
    <div *ngIf="fileList.length!=0" class="row" style="height:1.5rem;">
        <div class="col-md-2 col-xs-12">
            <button class="btn btn-block" (click)="submit()"  mat-raised-button>Submit</button>        
        </div>
        <div class="col-md-2 col-xs-12">
            <button class="btn btn-block"  mat-raised-button (click)="fileList=[]">Cancel</button>        
        </div>
    </div>
    <div *ngIf="fileList.length!=0" class="row" style="height:1.5rem;">
        <div class="col">
       </div>
    </div>
    <div class="row" style="height:1.5rem;">
        <div class="col">
       </div>
    </div>
    <app-bulk-upload-table [dataSource]="returnObservable()"></app-bulk-upload-table>
    <div class="row" style="height:1.5rem;">
        <div class="col">
       </div>
    </div>
  </div>
</app-sidenav>