.row{
    margin-left: 0px;
    margin-right: 0px;
}
button{
    margin-top:2%;
    margin-bottom:2%;
    font-size: 90%;
    padding-left: 10px;
}
mat-icon{
    transform: scaleX(0.8)scaleY(0.8);
}
mat-form-field{
    width: 100%;
}
.snack{
    width: 100%;
    word-break: break-all;
}