<app-sidenav>
<div class="container"> 
  <div class="row">
    <div class="col">
    <p style="font-size:1.3rem;">Select an action for document: {{filename}}</p>
    <p style="font-size:1.1rem;">Workflow Stage: {{workflowStage}}</p>
    </div>  
  </div>
  <div class="row">
        <div class="col-md-3 col-sm-12">
                <button class="btn btn-block" (click)="location.back()" mat-raised-button>Go back</button>
        </div>        
    <div class="col-md-3 col-sm-12">
        <button class="btn btn-block" (click)="displayActions=!displayActions" mat-raised-button>Actions<mat-icon *ngIf="displayActions">keyboard_arrow_down</mat-icon><mat-icon *ngIf="!displayActions">keyboard_arrow_up</mat-icon></button>
    </div>
</div>
  <div class="row">
    <div class="col" style="height:1.5rem;">
    </div>
  </div>
  <div class="row" style="padding:0% 4% 0% 4%;"  [hidden]="displayActions">
    <div class="col" style="padding:2% 0% 2% 0%;background-color:lightgray;">
    <div class="row">    
    <div class="col-md-4  col-sm-12" >
        <button class="btn btn-block"  mat-raised-button (click)="modal.open(this.modalContent, { size: 'lg' })"><mat-icon class="white-icon">add_comment</mat-icon>&nbsp;Comment</button>
    </div>
    <div class="col-md-4 col-sm-12" >
        <button class="btn btn-block" mat-raised-button (click)="callBackCheckOut()"><mat-icon>trending_down</mat-icon>Checkout(lockout)</button>
    </div>
    <div class="col-md-4 col-sm-12" >
        <button class="btn btn-block" mat-raised-button (click)="modal.open(this.versionCheckIn, { size: 'lg' })"><mat-icon>trending_up</mat-icon>Checkin(New Ver)</button>
    </div>
    </div>
    <div class="row">    
            <div class="col-md-4  col-sm-12" >
                <button class="btn btn-block" (click)="modal.open(this.modalContent3, { size: 'lg' })" mat-raised-button><mat-icon>remove_red_eye_outline</mat-icon>&nbsp;Download log</button>
            </div>
            <div class="col-md-4 col-sm-12" hidden>
                <button class="btn btn-block" mat-raised-button><mat-icon>call_merge</mat-icon>Start workflow</button>
            </div>
            <div class="col-md-4 col-sm-12" >
                <button class="btn btn-block" mat-raised-button (click)="callBackDownloadLink()"><mat-icon>link</mat-icon>Get download link</button>
            </div>
            </div>
    </div>
  </div>
  <div class="row">
    <div class="col" style="height:1.5rem;">
    </div>
  </div>
  <div class="row">
    <div class="col">
      <app-update-table #updateTable></app-update-table>
    </div>
  </div>
  <div class="row">
      <div class="col">
          <p style="font-size:1.1rem;">Sub documents (attached during workflow/s)</p>
      </div>
  </div>  
  <div class="row">
      <div class="col">
        <app-sub-document-table></app-sub-document-table>
      </div>
  </div>  
  <div class="row">
        <div class="col">
            <p style="font-size:1.1rem;">Versions</p>
        </div>
    </div>  
    <div class="row">
        <div class="col">
            <app-versions-table #versionTable></app-versions-table>
        </div>
    </div>  
    <ng-template #modalContent let-close="close">
            <div class="modal-header">
              <h5 class="modal-title">Add comment</h5>
              <button type="button" class="close" (click)="close()">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div>
                Enter comment
              </div>
              <div>
                <mat-form-field>
                    <textarea matInput [formControl]="comment" matTextareaAutosize matAutosizeMinRows=2 matAutosizeMaxRows=3></textarea>
                </mat-form-field>
                <mat-error *ngIf="comment.hasError('required')">Comment required</mat-error>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" [disabled]="comment.hasError('required')" class="btn btn-outline-secondary" (click)="close();callbackActionAddUpdate()">Update</button>
            </div>
    </ng-template>
    <ng-template #modalContent2 let-close="close">
            <div class="modal-header">
              <h5 class="modal-title">Version number required</h5>
              <button type="button" class="close" (click)="close()">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div>
                Enter version number
              </div>
              <div>
                <mat-form-field>
                    <input matInput [formControl]="versionNumber" type="text">
                </mat-form-field>
                <mat-error *ngIf="versionNumber.hasError('required')">Version number required</mat-error>
                <button [disabled]="versionNumber.hasError('required')" type="button" class="btn btn-link" (click)="addFile()">Select file</button>
                <mat-error *ngIf="fileList.length==0">Select a file</mat-error>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" [disabled]="versionNumber.hasError('required') || fileList.length==0" class="btn btn-outline-secondary" (click)="close();callbackActionCheckInVersion()">Checkin new version</button>
            </div>
    </ng-template>
    <ng-template #modalContent3 let-close="close">
            <div class="modal-header">
              <h5 class="modal-title">Download log</h5>
              <button type="button" class="close" (click)="close()">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <app-download-log-table></app-download-log-table>
            </div>
            <div class="modal-footer">
            </div>
    </ng-template>
</div>
</app-sidenav>